  Hello <%= @name %>

    Confirm Change of Email

    Follow this link to confirm the change to your email:

    <%= @confirm_url %>

    If you did not request this change you can ignore this email.

    if you have any questions, please email
    <%= @support_email %> and let us know.

    Regards,
    Cxs Starter

    <%= @base_url %>