 Hey there,

    You have been invited 🎉

    You have been invited to create a user on [Cxs Starter].

    Follow this link to accept the invite:

    <%= @confirm_url %>

     if you have any questions, please email
    <%= @support_email %> and let us know.

    Regards,
    Cxs Starter

    <%= @base_url %>